# Entorno y secretos
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
staticfiles/
media/
*.sqlite3
db.sqlite3

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs / backups
*.log
*.sql
*.dump
backups/
